
body {
    background-color: #131310;
    color: #eaeded;
}

a:link { 
    text-decoration:none;
    color: inherit;
  font-family: "sweet-square-pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
    padding:10%;
    font-size:120%
}
a:visited {
    color: inherit;
}

a:hover {
    text-decoration:underline;
}


form {
  font-family: "sweet-square-pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}
.promo {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    font-size:larger
}

.cover {
    object-fit: cover;
}

.column {
    flex: 1 1 50%;
    padding: 5px;
    box-sizing: border-box;
    border-radius:50%;
    font-family:calibri;
}

.column img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    max-height: 100%;
    aspect-ratio: 1;
    text-align: center;
  
}

h1 {
    text-align: center;
    font-family: "sweet-square-pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}





p 
{
margin-left:15%;
margin-right:15%;
font-size:23.5px;
font-family: "sweet-square-pro", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

img {  
    border-radius: 8px;
}

.navbar ul { 
    margin:0;
    padding:0;
    color: white;
}
.navbar li {
display:inline-block;
padding:0px 20px;
color: white;
}

.navbar li a.active {
   background-color:rgb(255, 94, 0);
   box-sizing:border-box;
}

.navbar {
    background-color:#1a1815;
    overflow:clip;
}
