* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10%;
}

button {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #ff7300;
    border: none;
    font-size: 16px;
    font-family: "sweet-square-pro", sans-serif;
    border-radius: 12px;
}

li,
a {
    text-decoration: none;
    font-size: 22px;
    font-family: "sweet-square-pro", sans-serif;
    color: white;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

/*
TODO: fix navbar size adjustment being awkward
 */
.navLinks :hover {
    font-size: 25px;
}


header img {
    max-height: 8vh;
}

body {
    background-color: #131310;
    color: #eaeded;
}


a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


form {
    font-family: "sweet-square-pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}

.promo {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    font-size: larger;

    img {
        border-style: solid;
        border-width: 2px;
        border-color: #ff7300
    }
}

.cover {
    object-fit: cover;
}

.column {
    flex: 1 1 50%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    font-family: calibri;
}

.column img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    max-height: 100%;
    aspect-ratio: 1;
    text-align: center;

}

h {
    display: flex;
    justify-content: center;
    font-family: "sweet-square-pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    background-color: #ff7300;
    margin: 1px 0% 0%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "sweet-square-pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    background-color: #ff7300;
    margin: 1px 20% 0%;
}


p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 23.5px;
    font-family: "sweet-square-pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-left-style: solid;
    border-width: 5px;
    border-color: #ff7300;
    padding: 10px;
}

img {
    border-radius: 8px;

}

/* TODO: add image next to text
*/
.imageP {
    display: flex;

    img {
        object-fit: cover;
        max-width: 100px;
        max-height: 100px;
    }

}

table,
th,
td {
    align-content: center;
    border: 1px solid;
    border-color: #ff7300;
    margin: auto;
    text-align: center;
}

table {
    width: 50%;
    font-family: "sweet-square-pro", sans-serif;
}

th {
    font-size: x-large;
}

form {
    font-family: "sweet-square-pro", sans-serif;
    text-align: center;
    font-size: x-large;


}

.map {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}